body{
    overflow-x: hidden;
    background-image: url(images/hatter.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

p{
    text-indent: 15px;
    color: black;
    font-style: italic;
    animation: shake 2s infinite ease-in-out normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@keyframes shake{
    0% {transform: rotate(0deg);}
    20% {transform: rotate(10deg);}
    40% {transform: rotate(-10deg);}
    60%{transform: rotate(5deg);}
    80%{transform: rotate(-5deg);}
    100%{transform: rotate(0deg);}
}

#cigi{
    width: 75px;
    height: 75px;
    border-radius: 25%;
}

#cigi:hover{
    transform: rotate(360deg);
    transition-duration: 5s;
}

#bagarelló{
    width: 1900px;
    height: 1000px;
    opacity: 0;
    transition: height 3s, width 1s, all 3s;
    transition-timing-function: ease-in-out;
}

#bagarelló:hover{
    width: 1650px;
    height: 800px;
    opacity: 1;
    rotate: 360deg;
}

#reassambled{
    width: 1850px;
    height: 900px;
}

#nyíl{
    width: 400px;
    height: 200px;
    opacity: 0;
    transition: height 3s, width 1s, all 3s;
    transition-timing-function: ease-in-out;
    position: absolute;
    top: 1850px;
    left: 220px;
    rotate: -45deg;
}

#dedication-text{
    position: absolute;
    top: 1950px;
    left: 325px;
    font-size: xx-large;
    font-weight: bolder;
    transition: height 3s, width 1s, all 3s;
    transition-timing-function: ease-in-out;
    opacity: 0;
}

#komplikáltcigi:hover #dedication-text{
    color: magenta;
    rotate: 4000deg;
    opacity: 1;
}

#komplikáltcigi:hover #nyíl{
    rotate: 315deg;
    opacity: 1;
}

#kemeny{
    transition: height 6s, width 10s, all 4s;
    transition-timing-function: ease-in-out;
}

#kemeny:hover{
    transform: translateX(500px) skew(15deg, 7.348765deg);
    rotate: 360deg;
}

#halálpálca{
    transition: height 3s, width 1s, all 3s;
    transition-timing-function: ease;
}

#halálpálca:hover{
    transform: matrix3d(0.5, 0, -0.866025, 0, 0.595877, 1.2, -1.03209, 0, 10.866025, 0, 0.5, 0, -25.9808, 0, 15, 1) translate3d(233px, 500px, 100px);
    rotate: 90deg;
    opacity: 0;
}

#elektromosnyíl{
    position: relative;
    left: 450px;
    bottom: 120px;
    height: 200px;
    width: 350px;
    opacity: 0;
    transition: height 6s, width 10s, all 4s;
    transition-timing-function: ease;
    transition-delay: 4s;
}

#karika{
    height: 250px;
    width: 250px;
    position: relative;
    bottom: 120px;
    right: 170px;
    opacity: 0;
    transition: height 6s, width 10s, all 4s;
    transition-timing-function: ease;
    transition-delay: 4s;
}

#komplikáltcigi:hover #karika{
    opacity: 1;
}

#komplikáltcigi:hover #elektromosnyíl{
    opacity: 1;
}

#bizonyíték{
    transition: height 3s, width 1s, all 3s;
    transition-timing-function: ease-in-out;
}

#bizonyíték:hover{
    transform: translateX(500px) translateY(-250px) translateZ(320px) matrix(0.4, 0, 0.5, 1.2, 60, 10);
}

#reassambled{
    width: 150px;
    height: 100px;
    position: relative;
    left: 800px;
    transition: height 3s, width 1s, all 3s;
    transition-timing-function: ease-in-out;
}

#reassambled:hover{
    width: 100%;
    height: 100%;
    position: relative;
    left: 0px;
    rotate: 1800deg;
}